<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name = "hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name = "hibernate.connection.url">jdbc:mysql://localhost/hillel_lab</property>
        <property name = "hibernate.connection.username">root</property>
        <property name = "hibernate.connection.password">NEWPASSWORD</property>

        <!--current_session_context_class - для того, чтобы не открывать все время новую сессию,
        поэтому добавим в HibernateUtil public static Session getSession()-->
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">true</property>
        <property name="format_sql">false</property>
        <!-- List of XML mapping files -->
        <!--<mapping resource = "book.xml"/>-->

        <mapping class="com.hillel.model.Book"/>
        <mapping class="com.hillel.model.User"/>
        <mapping class="com.hillel.model.Author"/>

        <mapping class="com.hillel.service.BookStoreService"/>
        <mapping class="com.hillel.util.HibernateUtil"/>

        <mapping class="com.hillel.filters.AuthFilter"/>

        <mapping class="com.hillel.servlets.AddServlet"/>
        <mapping class="com.hillel.servlets.DeleteServlet"/>
        <mapping class="com.hillel.servlets.LoginServlet"/>
        <mapping class="com.hillel.servlets.LogoutServlet"/>
        <mapping class="com.hillel.servlets.RegServlet"/>

        <mapping class="com.hillel.dao.impl.AuthorDaoImpl"/>
        <mapping class="com.hillel.dao.impl.BookDaoImpl"/>
        <mapping class="com.hillel.dao.impl.UserDaoImpl"/>


    </session-factory>
</hibernate-configuration>